@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top IT Training</h1>
    <p class="lead">Welcome to the best online training program currently on your computer display.</p>
    <p>@Html.ActionLink("Login", "Login", "Account", new { area = "", @class = "btn btn-primary btn-lg"}, null)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign Up!</h2>
        <p>
            Sign up for classes today and advance your knowledge and career!
        </p>
        <p>@Html.ActionLink("View Courses", "Index", "Schedule", new { area = "" }, null)</p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">        
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>